<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wms.warehouse.mapper.WmsStorageZonesMapper">
    <select id="queryList" parameterType="org.jeecg.modules.wms.warehouse.entity.WmsStorageZones" resultType="org.jeecg.modules.wms.warehouse.entity.WmsStorageZones">
    select a.* , b.warehouse_name from wms_warehouses b , wms_storage_zones a where b.id = a.warehouse_id
    -- 仓库名称查询
    <if test="wmsStorageZones.warehouseName != null and wmsStorageZones.warehouseName != ''">
        and a.warehouse_name like '%' '%' #{wmsStorageZones.warehouseName} '%'
    </if>
    -- 仓库ID查询
    <if test="wmsStorageZones.warehouseId != null and wmsStorageZones.warehouseId != ''">
        and a.warehouse_id = #{wmsStorageZones.warehouseId}
    </if>
    -- 仓库状态查询
    <if test="wmsStorageZones.status != null and wmsStorageZones.status != ''">
        and a.status = #{wmsStorageZones.status}
    </if>

    </select>
</mapper>